@font-face {
    font-family: RobotoBold;
    src: url(font/Roboto-Bold.ttf);
}

.header {
    text-align: center;
    font-size: 1.5em;
    display: block;
    font-family: RobotoBold, serif;
}

.centered-text {
    text-align: center;
}

.centered {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.right-aligned {
    position: fixed;
    margin-right: 10px;
    margin-bottom: 10px;
    right: 0;
    bottom: 0;
    text-align: right;
    font-family: RobotoBold, serif;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: var(--button-color);
}

.participant-box {
    text-align: left;
}

.form-button {
    padding: 1.4em 1.4em;
    font-size: 1.2em;
    background-color: var(--button-color);
    width: 100%;
    color: #FFFFFF;
    cursor: pointer;
    border: 0;
    max-width: 400px;
    margin: 1em 0;
    border-radius: 5px;
    font-family: RobotoBold, serif;
}

.form-input {
    border: 1px solid #B8B8B8;
    display: block;
    padding: 0.8em 1.4em;
    margin: 1em 0;
    border-radius: 5px;
    font-family: RobotoBold, serif;
    font-size: 1em;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buzzer {
    height: 10em;
    font-size: 2em;
    color: var(--button-color);
    padding: 1.4em 1.4em;
    cursor: pointer;
    border: 0;
    display: block;
    margin: 1em 0;
    width: 100%;
    border-radius: 5px;
    font-weight: 500;
}

.buzzer-ready {
    background-color: var(--button-buzzer-ready);
}

.buzzer-buzzed {
    background-color: var(--button-buzzer-buzzed);
}

.host-buzz-entry {
    border-radius: 5px;
    padding: 0.5em 0.5em 0.5em 1.5em;
    margin-bottom: 0.5em;
    font-size: 1em;
    color: white;
    border: 0;
    font-family: RobotoBold, serif;
}

.host-buzz-entry-first {
    background-color: green;
}

.host-buzz-entry-not-first {
    background-color: darkgoldenrod;
}

.host-buzz-place {
    text-align: right;
    font-size: 1em;
}

.host-buzz-time {
    text-align: right;
    font-size: 0.75em;
}
