.header {
    text-align: center;
}

.buzzer {
    height: 10em;
    font-size: 2em;
    background-color: rgb(243, 175, 185);
    color: rgb(18, 30, 102);
    padding: 1.4em 1.4em;
    cursor: pointer;
    border: 0;
    display: block;
    margin: 1em 0;
    width: 100%;
    border-radius: 5px;
    font-weight: 500;
}